body {
  background-image: url(../images/hacker.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  /* overflow: hidden; */
}

/* ================== navbar styles ===================== */
.navbar-nav li a {
  color: rgb(247, 7, 7) !important;
}
.pool {
  padding: 100px;
  color: red;
}
.navbar-expand-lg {
  color: #000;
}
.pageWrap {
  /* display: flex;
  flex-direction: row; */
}
.sideMenu {
  width: 200px;
  height: 100vh;
  position: fixed;
}
.pageContent {
  padding: 30px;
  margin-left: 200px;
  min-height: 100vh;
}
.navbar {
  /* position: absolute;
	top: 0;
	padding-left: 10px; */

  background-color: red;
  padding: 30px;
  min-height: 100vh;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: white;

  /* width: 250px; */
}
.bi:hover {
  color: blue;
  color: #fff;
}
.nav-link {
  font-family: monospace;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0 !important;
}

/* ===========footer=================== */
.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  color: #fff;
}
/* ========== row===================*/
.row {
}
/* ===========row1========= */
.row1 {
}

/* ==========cards========== */
.card-group {
  position: absolute;
  top: 0;
  padding-left: 10px;
}
